<div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" (click)=qvery() id="button-addon1">Serch</button>
    <input [(ngModel)]="name" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>


<div [ngSwitch]="DataDelivered" class="BaseFont">
    <div *ngSwitchCase="State.ok">
        <div *ngFor="let movie of results; let i = index" class="card">
            <div>Id {{movie?.id}}</div>
            <div>Name {{movie?.title}}</div>
            <div>Year {{movie?.year}}</div>
            <img *ngIf="movie?.image" class="card-img-top" [attr.src]="movie?.image?.url" alt="фото">
            <ngb-carousel *ngIf="movie?.images">
                <ng-template ngbSlide *ngFor="let image of movie.images; let i = index">
                    <div class="picsum-img-wrapper">
                        <img [attr.src]="image?.url" alt="фото">

                    </div>

                </ng-template>

            </ngb-carousel>
            <div *ngIf="!movie?.image">фото отсуцтвует</div>
        </div>
    </div>
    <div *ngSwitchCase="State.loding">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngSwitchCase="State.notresult">
        Not Result
    </div>
    <div *ngSwitchDefault>
        Default
    </div>

</div>